.home-layout {
  min-height: 100vh;
  background: #f7f9fb;

  .content {
    padding: 50px 100px;

    h1 {
      margin-bottom: 1.5rem;
    }

    .cards-container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1.5rem;

      @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
    }
  }
}
